:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --background-color: #319795; /* Default light theme color */
  --font-color: #000;
  --main-color: #fff;
  --nav-font-color: #fff;
}

/* Stylizacja paska przewijania */
body::-webkit-scrollbar {
  height: 12px; /* Wysokość paska przewijania */
}

/* Stylizacja toru (track) */
body::-webkit-scrollbar-track {
  background: red; /* Kolor tła toru */
}

/* Stylizacja uchwytu (thumb) */
body::-webkit-scrollbar-thumb {
  background: red /* Kolor uchwytu */
  border-radius: 10px; /* Zaokrąglenie uchwytu */
}

/* Stylizacja uchwytu podczas najechania kursorem */
body::-webkit-scrollbar-thumb:hover {
  background: red; /* Kolor uchwytu po najechaniu kursorem */
}
